<!DOCTYPE html>
<html lang="en">
<head>
	<title>Poem Generator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intital-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/main.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<!-- Github ribbon -->
	<a href="https://github.com/soum-sr/PoemGenerator" target="_blank">
		<span style="font-family: monospace; font-size: 17px; position:fixed; top:50px; right:-45px; display:block; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); background-color:rgb(64, 255, 64); color:black; padding: 4px 30px 4px 30px; z-index:99">Fork Me On GitHub</span>
	</a>
	
	<div class="header">Poem Generator</div>
	
	<div class="input_data">
		<form action="{{url_for('index')}}" id="upload-form" method="POST">
			<div class="form__group field">
				<input type="text" class="form__field" placeholder="Enter the first line" id="first_line" name="line_input" required />
				<label for="line_input" class="form__label">Enter the first line</label>
			</div>
			<br>
			<input class="submit_button" id="submit_input" type="submit" value="Submit">
		</form>
		<div class="out_text" >
			{{output}}
		</div>
	</div>


	
</body>
</html>